*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 14px/18px Arial,Helvetica,sans-serif;
}
body{
    min-width: 1024px;
}
/* header */
.header{
    
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin:auto;

}
.header-logo{
    height: 100%;
}
.header-logo img{
    height: 100%;
    width: auto;
}

.header-address{
    font-size: 10px;
    color: white;
}
.header-address{
    height: 40px;
    padding: 0 0 0 10px;
    border-left: 0.5px solid gray;
    width: 15%; 
}
@media all and (min-width: 1180px) {
    .header-address{
        width: 10%;
    }
    
}
@media all and (max-width: 1150px) {
    .topup{
        width: 28%;
        padding-left: 5px;
    }
    .congnghe{
        text-align: center;
        line-height: 14px;
        font-size: 12px;
        width: 8%;
        padding-left: 5px;
    }  
}


.header-address a   {
    color: #ffe500;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}


.header-search{
    background-color: white;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
   
    
}

.header-search input:active{
    border: none;
}
.header-search input{
    border: none;
    padding: 8px 8px 8px 13px;
    border-radius: 2px;
   
}
.header-search .ti-search{
    color: black;
    background-color: white;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 2px;
}
.header-cart{
    margin-right: 5px;
    padding: 5px 0;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 128px;
    line-height: 14px;
    height: 30px;
    text-align: center;
   
}
.header-cart:hover{
    background-color: rgba(255,255,255, 0.3);
}

.header-history{
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    width: 8%;
}


.header-topup{
    color:#ffe66b;
    text-decoration: none;
    text-align: left;
    padding-left: 4px;
    font-size: 12px;
    line-height: 14px;
}
.header-24h,
.header-qa,
.header-app{
    color: white;
    text-decoration: none;

    
}
.divide{
   padding-left: 5px;
   text-align: center;
    align-items: center;
    border-left: 0.5px solid gray;
    height: 50px;
    display: inline-flex;
}

.header-24h:hover{
    color:yellow;
}
.header-qa:hover{
    color:yellow;
}
.header-app:hover{
    color:yellow;
}
.header-history:hover{
    color:yellow;
}

.dot{
    background-color: #ffe66b;
    border-radius: 100%;
    display: block;
    height: 8px;
    margin-top: -5px;  
    width: 8px;
}
.animation{
    border: 1px solid #ffe66b;
    background-color: rgba(255,230,107,.2);
    border-radius: 100%;
    text-rendering: geometricPrecision;
    height: 8px;
    opacity: 1;
    display: block;
    
    animation: sonar 1.25s linear infinite;
    width: 8px;

}
@keyframes sonar {
    from {    opacity: 1;transform: scale(1);
    }
    to {    transform: scale(4); opacity: 0;}
  }
  /*header */
  /* nav*/
 .nav{
     background-color: #fed100;
     display: flex;
     height: 43px;
     justify-content: space-between;
     align-items: center;
     width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 12px;
     
 }
 
 

 .nav a{
    text-decoration: none;
    color: black;
 }
 .subnav{
     
     position: absolute;
     top: 93px;
     list-style-type: none;
     display: none ;
     border-radius: 3px;
     background-color: #fff;
     z-index: 1;
   
     padding-right: 18px;
 


     
 }
.desktop:hover .subnav{
    display: block;
}
 
   
 
 .subnav li{
    
    
    padding: 0 10px;
 }

 .subnav a:hover, .accessories a:hover{
    color: blue;
 }
 .nav>div:hover{
     background-color: silver;
     line-height: 40px;
     
 }
 i{
     font-size: 17px;
 }
.sim a{
    
    display: flex;
    padding: 0 9px;
    height: 43px;
    align-items: center;
    position: relative;
}
 .sim {
        position: relative;
 }
 .sim  .sale {
     
    background-color: #f51212;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    padding: 0 3px;
    right: -10px;
    top: 2px;
    line-height: 13px;

 }
 /* .sim  .sale:hover{
    font-size: 9px;
    background-color: #f51212;
    border-radius: 5px;
    position: absolute;
    padding: 0 4px;
    top: -10px;
    right: -8px;
    line-height: 18px;
 } */
 .accessories{
    position: absolute;
     top: 94px;
     list-style-type: none;
     display: none ;
     border-radius: 3px;
     background-color: #fff;
     margin-left: -10px;
     z-index: 1;
 }

.accessories div{
    width: 33%;
    float: left;
    margin-bottom: 10px;

}

.accessories div a{
    display: block;
    padding: 10px 5px 0 0;
    color: #000;
    font-size: 11px;
    position: relative;
}

.accessories .sub-cate{
    width: 67%;
    display: flex;
    flex-wrap: wrap;
}
.accessories .sub-cate>div{
    width: 50%;
}
.accessories .TBLT{
    width: 150px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.accessories strong{
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding-bottom: 5px;
    color: #333;
}
.accessories strong a {
    display: initial;
    text-transform: initial;
    color: #4a90e2;
}

.headphone:hover .accessories{
    display: block;
    line-height: 20px;
}
/* nav*/
.bar-top{
    display: flex;
}

.homebanner{
    padding: 20px 10px 0 0;
    width: calc(100% - 360px);
}
.preorder{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 30%;
}


.mySlides {
    display: none
}

#sync1 {
    
    position: relative;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    
  }
#sync2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  #sync2{
    border: 1px solid #ebebeb;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  }
  #sync2 .items{
    cursor: pointer;
    display: table;
    height: 48px;
    margin: 0 auto;
  }
  #sync2 .items h3{
    display: table-cell;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
  }

  #sync2 .active {
    border-top:3px solid #fed100;
  }

  .preorder a {
    margin-bottom: 5px;
    padding-left: 10px;
    width: 50%;
}

.sub-banner{
    margin-top: 10px;
}
section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.sticky-sidebar a{
    position: fixed;
    top: 195px;
    width: 89px;
    z-index: 999;
}
.sticky-sidebar a img {
    display: block;
    max-width: 100%;
}

.sticky-sidebar .banner-right {
    right: calc(((100vw - 1200px)/2) - 105px);
}
.sticky-sidebar .banner-left {
    left: calc(((100vw - 1200px)/2) - 95px);
}
@media screen and (max-width: 1366px){
    .sticky-sidebar .banner-left {
        left: calc(((1366px - 1200px)/2) - 80px);
    }
    .sticky-sidebar .banner-right {
        right: calc(((1366px - 1200px)/2) - 80px);
    }


}
.sansale{
    background-color: black;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 0;
    height: 600px;
}
.sansale .listproduct {
    padding: 0 10px;
   
    position: relative;
    border: none;
}
.owl-stage {
    display: flex;
    flex-wrap: wrap;
    
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
  width: 1200px;
    overflow: hidden;
}
.sansale .owl-item {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
}


.sansale .listproduct .item-img img {
    width: 200px;
}
.sansale .listproduct .item {
    padding: 10px 15px;
    overflow: hidden;
}
.sansale .listproduct .item a {
    display: block;
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}
.item-label {
    font-size: 0;
    height: 22px;
}


.item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}
.lb-tragop {
    background-color: #f1f1f1;
    color: #333;
}

.listproduct .item-img {
    position: relative;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

.sansale .listproduct .item-img {
     height: 250px; 
     line-height: 250px; 
}
.sansale .listproduct .item-img:hover {
    height: 250px; 
    line-height: 210px; 
}

 .sansale .listproduct .item-img img {
    width: 200px;
    margin-top: 15px;

}

.sansale .listproduct img, .listproduct .item-img img {
    vertical-align: middle;
}

.sansale .listproduct .item-img, .listproduct .item-img {
    display: block;
    text-align: center;
}
.sansale .listproduct .result-label {
    margin-top: 10px;
}


  .watch{
    padding: 25px 0 35px;
  }

  .box-common, .box-laptop{
    margin-bottom: 30px;
  }
  .box-top{
    margin-bottom: 15px;
  }
  .box-tittle{
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    width: 32%;
}
.box-link{
    float: right;
    font-size: 0;
    text-align: right;
    width: 68%;
    margin-bottom: 15px;
}

.box-link a {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 10px;
    margin-left: 10px;
    padding: 10px 11px;
    text-decoration: none;
    font: 14px/18px Arial,Helvetica,sans-serif;
}
.box-link a:hover{
    color:#288ad6;
}
/* product dien thoai noi bat */
 .listproduct{
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    width: 100%;
}

 .listproduct .item{
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px 15px ;
    overflow: hidden;
}
.listproduct .item-img {
    height: 250px;
    line-height: 250px;
}
.item-label{
    font-size: 0;
    height: 22px;
}
.item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}
.lb-tragop {
    background-color: #f1f1f1;
    color: #333;
}
.listproduct .item-img {
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.listproduct .item-img {
    margin-top: 10px;
}
.listproduct .item-img img {
    width: 210px;
    height: auto;
}

.item-img img {
    vertical-align: middle;
    line-height: normal;
}
.listproduct img {
    max-width: 100%;
}
.listproduct .item a {
    display: block;
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}
.listproduct .item-img:hover {
    height: 250px; 
    line-height: 210px; 
}
.result-label.temp1 {
    background: linear-gradient(to right,#ef3006,#c60004);
}
.item-txt-online {
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0 !important;
    margin-bottom: 5px;
}
.listproduct .box-p {
    margin-bottom: 5px;
}
.listproduct .price-old {
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}
.listproduct .percent {
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}
.item:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2)
}


.result-label {
    background: linear-gradient(to right,#faab08,#d42611);
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
}
.result-label img {
    float: left;
    max-width: 20px;
}
.result-label span {
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 10px;
    line-height: 13px;
    margin-left: 3px;
    overflow: hidden;
    padding: 4px 0 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
}

.listproduct h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    color: #333;
    font: 14px/18px Arial,Helvetica,sans-serif;
}
.listproduct h3:hover{
    color: #288ad6;
}

.listproduct .price {
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

.listproduct .item-gift {
    color: #333;
    font-size: 13px;
    margin-bottom: 5px;
}

.listproduct .item-gift b {
    font-weight: normal;
}
.listproduct .item-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
.listproduct .item-rating p {
    display: inline-block;
}
.icon-star {
   color: orangered;
    height: 12px;
    width: 13px;
}
.listproduct .item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
}

.owl-prev, .owl-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
  }

  .owl-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .owl-prev:hover, .owl-next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* ket thuc product*/
/* loai san pham va thuong hieu */
.trademark, .product-news {
    margin: 40px 0 30px;
}
.mark{
    display: flex;
}
.samsung, .apple, .laptop, .pc, .airport,.clock{
    margin-right: 10px;
}
.mark a img{
    border-radius: 4px;
    width: 396px;
    height: 214px;
}
.title-layout {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    font-weight: bold;
  
}
/* loai san pham va thuong hieu */
/* app*/
.app {
    display: flex;
    margin-top: 40px;
}
.app .tech {
    padding-right: 15px;
    width: 67%;
}
.app .title-layout{
    display: inline-block;
    
    margin-right: 20px;
  
}
.app .title-main {
    margin-bottom: 10px;
}
.app .xemthem{
    color:#2f80ed;
    text-decoration: none;
    font-size: 18px;
   
}

.app  a{
    text-decoration: none;
    color:#333;

}
.app img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app .col1{
    display: flex;
}
.app .col1-big{
    width: 61%;
}
.app .col1 a:hover{
    color:#2f80ed;

}
.app .big-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 10px;
}
.app .big-hour {
    color: #999;
    line-height: 21px;
    margin-top: 5px;
}
.app .col1-item-simple {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}
.col1-item {
    margin-left: 10px;
    width: calc(39% - 10px);
}

.app .item-img img{
    position: relative;
    width: 120px;
    height: 70px;
}
.app .item-content {
    padding-left: 10px;
    width: calc(100% - 120px);
}
.app .item-title {
    font-size: 12px;
    line-height: 17px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.app .item-hour {
    color: #999;
    font-size: 10px;
    line-height: 15px;
}
/* game ung dung*/
.app .game {
    width: 33%;
    position: relative;
   
}
.game-item{
    display: none;
}
.game-box {
    display: flex;
    margin-top: 10px;
}
.game-box-img{
    width: 60px;
}
.game-box-main {
    padding-left: 10px;
    width: calc(100% - 60px);
}
.game-title {
    font-weight: bold;
    line-height: 21px;
}

.game-label span {
    background-color: #07a358;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 4px;
    
}
.game-label p {
    font-size: 13px;
    line-height: 16px;
}
.game-label span, .game-label p {
    display: inline-block;
    vertical-align: middle;
}
.game-box-list a {
    color: #2f80ed;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    padding-left: 15px;
    position: relative;
    list-style-type:circle;
}
.game-box-list a::before {
    background-color: #2f80ed;
    border-radius: 50%;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 5px;
}
.game-prev, .game-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(224, 219, 219, 0.3);
  }

  .game-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.game-prev:hover, .game-next:hover {
    background-color: rgba(221, 217, 217, 0.8);
  }

/* game ung dung*/
/* app*/
/*footer*/
.footer {
    clear: both;
    border-top: 1px solid #e2e2e2;
    margin-top: 10px;
}
.footer-top {
    padding: 15px 0 5px;
}
.footer-col {
    float: left;
    width: 25%;
}
.footer-col:nth-child(3) {
    width: 23%;
}
.footer-col:nth-child(4) {
    width: 27%;
}
section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.f-listmenu{
    display: block;
    list-style-type: none;
}
.f-listmenu li {
    margin-bottom: 10px;
}
.f-listmenu li a {
    color: #333;
    line-height: 21px;
    text-decoration: none;
}
.f-listtel li {
    margin-bottom: 10px;
}
li{
    list-style-type: none;
}
.f-listtel li a{
    color: #2f80ed;
    font-weight: bold;
    text-decoration: none;
    line-height: 21px;

}
/* logo social*/
.f-social a{
    color: #2f80ed;
    margin-right: 10px;
    text-decoration: none;
}

.f-social a i {
    margin-right: 5px;
}
.icons-fb {
    background-position: -220px 4px;
    height: 18px;
    width: 18px;
}
.icons-yt{
    background-position: -190px 4px;
    height: 18px;
    width: 18px;
}
.f-certify {
    margin-bottom: 20px;
}
.f-certify a{
    margin-right: 5px;
}
.f-certify .icons-congthuong {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}
.f-certify .icons-khieunai {
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}
.f-certify .icons-protected {
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}
.f-certify .icons-ncsc {
    background-position: 0 -154px;
    height: 23px;
    width: 57px;
}
.f-website-title {
    margin-bottom: 10px;
}
.f-website a {
    margin-right: 10px;
}
.f-website  .icons-maiam {
    background-position: 0 -60px;
    height: 18px;
    width: 71px;
}
.f-website .icons-bhx {
    background-position: -110px -30px;
    height: 18px;
    width: 81px;
}
.f-website .icons-dmx {
    background-position: 0 -30px;
    height: 18px;
    width: 103px;
}
[class^="icons-"], [class*="icons-"] {
    background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/TGDD/Desktop/icon_common.06102021@2x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}
/* copy right*/
.copyright {
    height: 50px;
    line-height: 28px;
    background-color: #f1f1f1;
    margin-top: 150px;
    display: block   ;
    
}
.copyright p{
    height: 50px;
    color: #666;
    font-size: 12px;
    
   

}
.copyright a{
    color: #2f80ed;
    text-decoration: none;
}

.f-social {
    margin-bottom: 20px;
}
/*end copyright*/
/*product slide*/

.product-prev, .product-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(91, 90, 90, 0.3);
  }

  .product-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.product-prev:hover, .product-next:hover {
    background-color: rgba(70, 69, 69, 0.8);
  }
  .stage-outer {
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
  
}

.product1,.product2{
    display: flex;
}
.listproduct {
    padding: 0 10px;
   
    position: relative;
    border: none;
}
.stage-outer{
    width: 1200px;
    
}
.stage {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
   
    overflow: hidden;
}
.owl-item {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
}


.listproduct .item-img img {
    width: 200px;
}
.listproduct .item {
    padding: 10px 15px;
    overflow: hidden;
}
.listproduct .item a {
    display: block;
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}
.item-label {
    font-size: 0;
    height: 22px;
}


.item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}
.lb-tragop {
    background-color: #f1f1f1;
    color: #333;
}

.listproduct .item-img {
    position: relative;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

.listproduct .item-img {
     height: 250px; 
     line-height: 250px; 
}
.listproduct .item-img:hover {
    height: 250px; 
    line-height: 210px; 
}

 .listproduct .item-img img {
    width: 200px;
    margin-top: 15px;

}

.listproduct img, .listproduct .item-img img {
    vertical-align: middle;
}

.listproduct .item-img, .listproduct .item-img {
    display: block;
    text-align: center;
}
.listproduct .result-label {
    margin-top: 10px;
}
/*dong ho*/
.dongho {
    background-color: #203E4E;
    background-repeat: no-repeat;
    background-position: bottom -30px left;
    background-size: 336px 449px;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px;
    margin-top: 30px;
    height: 528px;
    
}

.dongho-left {
    width: 20%;
  
}
.dongho-right {
    width: 80%;
}

.dongho-left, .dongho-right {
    float: left;
}
.dongho-left a img {
    width: 100%;
}
.dongho-tab {
    display: flex;
    position: relative;
    margin-bottom: 12px;
}
.dongho-tab li {
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 4px;
    
    cursor: pointer;
    line-height: 16px;
    margin-right: 10px;
    padding: 10px 16px;
}

.dongho__right {
    position: relative;
    width: calc(100% - 222px);
}
.dongho-list{
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 4px;
}
.dongho-stage-outer{
    position: relative;
    overflow: hidden;
    
}
.dongho-stage{
    
    display: flex;
    flex-wrap: wrap;
}
.dongho-items{
    width: 239.009px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    position: relative;
    min-height: 1px;
    float: left;

}
.dongho-item{
    padding: 10px 15px;
}
.dongho-list .item-img {
    height: 225px;
    line-height: 225px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dongho-list .item-img img {
    width: 210px;
    height: auto;
    margin-top: 15px;
}
.dongho-list h3 {
    display: -webkit-box;
    font: 14px/18px Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
.dongho-list .dongho-compare {
    font-size: 0;
    margin-bottom: 5px;
}
.dongho-list .dongho-compare span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    white-space: nowrap;
}
.dongho-list .box-p {
    margin-bottom: 5px;
}
.dongho-list .price-old {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}
.dongho-list .percent {
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}
.dongho-list .price {
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}
.dongho-list .item-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
.dongho-list .item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
}
.dongho1{
    display: none;
}.active{
    background-color: white;
    color: black;
}

.dongho .readmore {
    position: absolute;
    top: 12px;
    right: -10px;
}
.readmore {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}